version: '3'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./src/data:/app/src/data
      - ./public/uploads:/app/public/uploads
    environment:
      - NODE_ENV=production
